@model List<PersonViewModel>
@{
    Layout = "";
}
<table class="table table-bordered table-hover mb-0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle">@item.Name</td>
                <td class="align-middle">@item.Surname</td>
                <td class="align-middle text-center" style="width:100px">
                    <button type="button" class="btn btn-danger btn-sm" onclick="DeletePerson('@item.Id')">
                        X
                    </button>
                    <button type="button" class="btn btn-warning text-white btn-sm" onclick="GetPersonDetail('@item.Id')">
                        #
                    </button>
                </td>
            </tr>
        }
    </tbody>
    <tfoot class="mb-0">
        <tr>
            <td colspan="3">
                <button class="btn btn-sm btn-outline-primary" onclick="GetPersonDetail(0)">Add New Person</button>
            </td>
        </tr>
    </tfoot>
</table>

<!-- Modal -->
<div class="modal fade" id="DetailModal" tabindex="-1" role="dialog" aria-labelledby="DetailModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DetailModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-load"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>
    function DeletePerson(guid) {
        var url = "/Person/Delete?Id=" + guid;
        Swal.fire({
            title: 'Do you want to delete person?',
            showDenyButton: true,
            confirmButtonText: `Delete`,
            denyButtonText: `Cancel`,
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: url,
                    dataType: 'json',
                    type: 'POST',
                    data: "{'Id': '" + guid + "'}",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data == "DELETED") {
                            Swal.fire({
                                title: 'Success!',
                                text: 'Record is deleted',
                                icon: 'success'
                            })
                        } else {
                            Swal.fire({
                                title: 'Error!',
                                text: data,
                                icon: 'error',
                                confirmButtonText: 'Cool'
                            })
                        }
                    }
                });
            }
            else if (result.isDenied) {
            }
        })
    }
    function GetPersonDetail(guid) {
        var url = "/Person/InsertOrUpdate?Id=" + guid;
        $("#proccess").load(url, function (responseTxt, statusTxt, xhr) {
            if (statusTxt == "success")
                console.log("success");
            if (statusTxt == "error")
                alert("Error: " + xhr.status + ": " + xhr.statusText);
        });
    }
</script>